@charset "utf-8";

// import frameworks
@import "foundation", "compass";

.mod-all {
	padding: 10px;
}

.list__item {

}
.list__item-author {
	margin-top: 5px;
	font-size: 13px;

	img {
		margin-right: 5px;
		border-radius: 10px;
		vertical-align: top;
	}
}

.global-footer {
	padding: 20px 0 5px;
	border-top: 1px solid #eee;
	.copyright {
		margin-bottom: 0;
	}
}
