@charset "utf-8";

// import frameworks
@import "foundation", "compass";

.global-header {
	h1 {
		.fa {
			margin-right: 5px;
		}
	}
	.icon-gear {
		&:hover .fa-cog {
			-webkit-animation: spin 2s infinite linear;
			-moz-animation: spin 2s infinite linear;
			-o-animation: spin 2s infinite linear;
			animation: spin 2s infinite linear;
		}
		.active a:not(.button) {
			background: #008cba !important;
		}
	}
}
@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(359deg);
	}
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
	}
}
@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(359deg);
	}
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


.mod-all {
	padding: 10px;
}


.list {
	min-height: 570px;
	&.is-loading {
		background: image-url("loading.gif") no-repeat center center;
	}
}

.list__item {

}
.list__link {
	display: inline-block;
	position: relative;
	overflow: hidden;
	border: solid 4px white;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	transition: all 200ms ease-out;

	&:link,
	&:hover,
	&:visited,
	&:active {
		color: #222;
	}
	&:hover,
	&:focus {
		box-shadow: 0 0 6px 1px rgba(0, 140, 186, 0.5);
	}

	img {
		line-height: 0;
		display: inline-block;
		max-width: 100%;
	}
}
.list__info {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .8);
	@include transform(translate3d(0, 100%, 0));
	transition: all 200ms ease-out;

	.list__link:hover & {
		// top: 0;
		@include transform(translate3d(0, 0, 0));
	}
}
.list__title {
	margin: 0;
	padding: 10px 10px 5px;
	font-size: 1rem;
}
.list__description {
	padding: 0 10px 10px;
	font-size: 0.81rem;
	line-height: 1.4;
}

.list__author {
	//margin-top: 5px;
	font-size: 13px;

	img {
		margin-right: 5px;
		border-radius: 10px;
		vertical-align: top;
	}
}

.global-footer {
	padding: 20px 0 5px;
	border-top: 1px solid #eee;
	.copyright {
		margin-bottom: 0;
	}
}
